body *{
  margin: 0;
  border: 0;
}

nav{
  font-size: large;
}

  

  h4 {
    text-align:left; 
    }

/*#Inicio h1{

        color: rgb(252, 252, 252) !important;
        text-align: Left;
        padding-right: 300px;
        font-size: 50px;
        font-weight: bold;
        font-size: 30px;
}
*/

#inicio {
  position: relative;
  padding: 0;
  width: 100%;
  height: 500px; /* Altura agregada para dar espacio suficiente a la imagen */
  background-image: url("../img/ammplio-arquitectos-madrid-1407.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#inicio h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


#presentacion{
        width: 100%;
        height: auto;
        background-color: #D6C8B8;
        color: rgb(0, 0, 0);
        text-align: Left;
        padding-top: 50px;
        /*padding-left: 120px;*/
        font-size: 20px;
        font-weight: lighter;
  }    
  
  #Resumen{
    width: 100%;
    height: auto;
    background-color:black;
    color: white;
    text-align: Left;
    padding-top: 50px;
    padding-right: 150px;
    font-size: 16px;
    font-weight: lighter;

      
  }

  #Educacion{
    width: 100%;
    height: auto;
    background-color:rgb(102, 94, 94);
    color: white;
    text-align: Left;
    padding-top: 50px;
    padding-right: 150px;
    font-size: 16px;
    font-weight: lighter;

      
  }

  footer{

    height:80px;
    background-color: black;
    text-align: center;
    color: whitesmoke;
    padding-top: 20px;
  }
            
